*{
    transition: all 0.5s;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
body{
    background: url(https://raw.githubusercontent.com/frudotz/frudotz.github.io/main/BG.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.card{
    height: 400px;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    position: absolute;
     margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
            box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    font-family: 'Poppins',sans-serif;
}
.card-img{
    height: 120px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    margin: 30px auto 20px  auto;
    left: 0;
    right: 0;

}
.card-img img{
    height: 86%;
    border-radius: 50%;
    margin-left: 7%;
    margin-top: 7%;
}
h6{
    margin: 0;
}
.desc{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 160px;
}
.primary-text{
    color: #d5d5d5;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin: 5px 0;
}
.secondary-text{
    color: #c0c0c0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 5px 0;
}
button{
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border: none;

}
.details{
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 70px;
    padding: 0 0;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
    border-radius: 0 0 8px 8px;
    justify-items: center
}
.details>div{
    text-align: center;
}
button{
    width: 80%;
    padding: 15px 0;
    position: relative;
    left: 10%;
    top: 240px;
    border-radius: 5px;
    outline: none;
}
a{
    color: #ffffff;
    border-radius: 5px;
    text-decoration:none;
}
.GitHub {
    position: relative;
    border-radius: 5px;
    margin: 5% 5% 5% 5%;
    width: 140px;
    float: right;
} 
.GitHub:hover {
    background: rgba(255, 255, 255, 0.1);
}
.LinkedIn {
    position: relative;
    border-radius: 5px;
    margin: 5% 5% 5% 5%;
    width: 140px;
    float: left;
}
.LinkedIn:hover {
    background: rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 1080px) {
  .card{
    height: 800px;
    width: 640px;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    position: absolute;
     margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 16px;
    -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
            box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    font-family: 'Poppins',sans-serif;
}
  .card-img{
    height: 265px;
    width: 265px;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    margin: 50px auto 20px  auto;
    left: 0;
    right: 0;

}
.card-img img{
    height: 86%;
    border-radius: 50%;
    margin-left: 7%;
    margin-top: 7%;
}
.desc{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 325px;
}
.primary-text{
    color: #d5d5d5;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin: 10px 0;
}
.secondary-text{
    color: #c0c0c0;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1px;
    margin: 0 0;
}
.details{
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 140px;
    padding: 0 0;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
    border-radius: 0 0 16px 16px;
    justify-items: center
}
.GitHub {
    position: relative;
    border-radius: 5px;
    width: 280px;
    height: 110px;
    float: right;
} 
.GitHub:hover {
    background: rgba(255, 255, 255, 0.1);
}
.LinkedIn {
    position: relative;
    border-radius: 5px;
    width: 280px;
    height: 110px;
    float: left;
}
.LinkedIn:hover {
    background: rgba(255, 255, 255, 0.1);
}
}
